body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu !important;
    background: white;
    color: black;
}

.profile {
    text-align: center;
}

body a {
    text-decoration: underline;
    color: lightsalmon;
}
