@font-face {
    font-family: "TT Hoves";
    src: url("../font/TT\ Hoves\ Regular.otf") format("opentype");
}

body {
    /* background-image: url("../img/grid.svg") !important; */
    font-family: "TT Hoves" !important;
    color: #020c13 !important;
    font-size: 19px !important;
}

.profile-text {
    font-size: 3rem;
    text-align: center;
    width: fit-content;
    background-clip: text;
    color: #ad68ff;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #e1cdff, #ad68ff 40%, #9d4dff);
    background-size: 100% 300%;
    background-position: 50% 0;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    animation: gradientAnim 2s ease-in-out forwards;
    -webkit-text-fill-color: transparent;
    padding: 4px;
    line-height: normal;
    margin: 0 auto;
}

body a {
    text-decoration: none;
    padding: 4px 5px 4px;
    color: #020c13;
    background-color: #F1F3FF;
    line-height: inherit;
    border-radius: 2px;
}

body a:hover {
    text-decoration: none;
    color: #c5c5c5;
}

#cc {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 40px !important;
}

#page-foot {
    font-size: 12px;
    background-color: #020c13;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1002;
}

html,
body,
#cc,
#page-foot {
    margin: auto;
    padding: 0;
    border: 0;
    width: 100%;
}

.outer {
    display: table;
    width: auto;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    padding: 12px;
}

img {
    max-width: 100%;
    display: inline-block;
}

.overlay-picture-wrapper {
    position: relative;
}

.team-overlay_picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay_picture-shape {
    background-color: #fff;
    position: absolute;
}

.cc-1 {
    width: 10%;
    height: 20%;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
}

.cc-2 {
    width: 30%;
    height: 20%;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%;
}

.cc-3 {
    width: 10%;
    height: 15%;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
}

.cc-4 {
    width: 15%;
    height: 15%;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
}
