body {
    font-family: 'SF Mono', 'Segoe UI', "Lucida Grande", Arial, sans-serif !important;
    background: white;
    color: black;
}

.profile {
    text-align: center;
}

body a {
    text-decoration: underline;
    color: lightsalmon;
}
